---
import { Image } from "astro:assets";
import Wrapper from "../shared/Wrapper.astro";
import "./about.scss";
import wavesSrc from "./assets/waves.png";
import wavesLightSrc from "./assets/waves-light.png";
import specsSrc from "./assets/specs.png";
import Headline from "../shared/Headline.astro";
const { aboutQuote, aboutImage, aboutTitle, aboutContent, aboutEndQuote } =
  Astro.props.data;
---

<div class="about">
  <div class="about-quote">
    <div class="about-quote-container">
      <p set:html={aboutQuote} />
    </div>
    <div
      class="about-quote-waves"
      style={`background-image: url(${wavesSrc.src})`}
    >
    </div>
    <div
      class="about-quote-waves-light"
      style={`background-image: url(${wavesLightSrc.src})`}
    >
    </div>
  </div>
  <div class="about-bio">
    <Wrapper>
      <div class="about-bio-image">
        <div>
          <Image
            src={aboutImage.sourceUrl}
            alt={aboutImage.altText}
            inferSize={true}
          />
        </div>
      </div>
      <div class="about-bio-content">
        <div class="about-bio-content-title">
          <Headline ele="h2">{aboutTitle}</Headline>
        </div>
        <div class="about-bio-content-para" set:html={aboutContent} />
      </div>
    </Wrapper>
    <div class="about-bio-bg"></div>
  </div>
  <div class="about-end-quote">
    <div class="about-end-quote-wrap">
      <Wrapper>
        <Headline ele="p" hlstyle="three">{aboutEndQuote}</Headline>
      </Wrapper>
    </div>
    <div
      class="about-end-quote-specs"
      style={`background-image: url(${specsSrc.src})`}
    >
    </div>
  </div>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const trigger = document.querySelector(".about");
  const title = document.querySelector(".about-bio-content-title");
  const content = document.querySelector(".about-bio-content-para");
  const image = document.querySelector(".about-bio-image");

  if (trigger && title && content && image) {
    const tl = gsap.timeline({
      scrollTrigger: {
        start: "top 0%",
        markers: true,
        trigger: trigger,
      },
    });

    tl.add("start")
      .fromTo(
        title,
        { autoAlpha: 0, y: 200 },
        {
          autoAlpha: 1,
          y: 0,
          ease: "power4.out",
          duration: 2,
        },
        "start",
      )
      .fromTo(
        content,
        { autoAlpha: 0, y: 200 },
        {
          autoAlpha: 1,
          y: 0,
          ease: "power4.out",
          duration: 2,
        },
        "start+=1",
      )
      .fromTo(
        image,
        { autoAlpha: 0, x: -200 },
        {
          autoAlpha: 1,
          x: 0,
          ease: "power4.out",
          duration: 2,
        },
        "start+=1",
      );
  }
</script>
