---
import { Image } from "astro:assets";
import Wrapper from "../shared/Wrapper.astro";
import "./introHero.scss";
import Headline from "../shared/Headline.astro";
console.log("HERO: ", Astro.props.data.mainQuote);
---

<div class="intro-hero">
  <Wrapper>
    <div class="intro-hero-image">
      <div class="intro-hero-image-wrapper">
        <Image
          src={Astro.props.data.heroImage.node.sourceUrl}
          alt={Astro.props.data.heroImage.node.altText}
          inferSize={true}
        />
      </div>
    </div>
    <div class="intro-hero-content">
      <div class="intro-hero-content-title">
        <Headline>{Astro.props.data.mainTitle}</Headline>
      </div>
      <div
        class="intro-hero-content-main"
        set:html={Astro.props.data.mainContent}
      />
    </div>
    <div class="intro-hero-quote">
      <p set:html={Astro.props.data.mainQuote} />
    </div>
  </Wrapper>
  <div class="intro-hero-bg"></div>
</div>
