---
import Wrapper from "../shared/Wrapper.astro";
import "./levels.scss";
import Button from "../shared/Button.astro";
import Headline from "../shared/Headline.astro";
import { Image } from "astro:assets";
---

<div class="levels">
  <Wrapper classes="levels-wrapper">
    {
      Astro.props.data.levels.map((level, index) => {
        const reversed = (index + 1) % 2 === 0;
        return (
          <div class={`levels-item${reversed ? " levels-item-reversed" : ""}`}>
            <div class="levels-item-content">
              <div class="levels-item-content-title">
                <Headline ele="h2" hlstyle="three">
                  {level.levelsTitle}
                </Headline>
                <Headline ele="p" hlstyle="four">
                  {level.levelBoldText}
                </Headline>
              </div>
              <div
                class="levels-item-content-paragraphs"
                set:html={level.levelContent}
              />
              <div class="levels-item-content-link">
                <Button href={level.levelButtonLink.uri}>
                  {level.levelButtonText}
                </Button>
              </div>
            </div>
            <div class="levels-item-image">
              <div>
                <Image
                  src={level.levelImage.sourceUrl}
                  alt={level.levelImage.altText}
                  inferSize={true}
                />
              </div>
            </div>
          </div>
        );
      })
    }
  </Wrapper>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  const trigger = document.querySelector(".levels");
  const items = document.querySelectorAll(".levels-item");

  if (trigger && items) {
    items.forEach((item, index) => {
      const reversed = item.classList.contains("levels-item-reversed");
      const image = item.querySelector(".levels-item-image");
      const content = item.querySelector(".levels-item-content");

      gsap.fromTo(
        image,
        { autoAlpha: 0, x: reversed ? -200 : 200 },
        {
          autoAlpha: 1,
          x: 0,
          scrollTrigger: {
            start: "top 50%",
            markers: false,
            trigger: item,
          },
        },
      );
      gsap.fromTo(
        content,
        { autoAlpha: 0, x: reversed ? 200 : -200 },
        {
          autoAlpha: 1,
          x: 0,
          scrollTrigger: {
            start: "top 50%",
            markers: false,
            trigger: item,
          },
        },
      );
    });
  }
</script>
